@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url("../img/backgrounds/gtavbase.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}